@import "tailwindcss";

@theme {
  --color-dark: #191818;
  --color-dark-light: #232222;
  --color-pink: #ff2c6b;
  --color-light-pink: #ffbfd2;
  --color-cream: #e8e6e3;
  --color-cream-light: #f9f6f8;
  --font-zagma: "Zagma", Georgia, serif;
  --font-neue: "NeueHaas", "Helvetica Neue", sans-serif;
  --ease-snappy: cubic-bezier(0.19, 1, 0.22, 1);
}

@font-face {
  font-family: Zagma;
  src: url("/fonts/zagma-book.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Zagma;
  src: url("/fonts/zagma-book-italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: NeueHaas;
  src: url("/fonts/neuehaas-medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* CSS Variables */
:root {
  --background: #fff;
  --foreground: #191818;
  --font-zagma: "Zagma", sans-serif;
  --font-neue: "NeueHaas", serif;
  --color-cream: #e8e6e3;
  --color-dark: #191818;
  --color-dark-light: #232222;
  --color-pink: #ff2c6b;
  --rounded-unit: 1.2rem;
  --padding-y: 6rem;
  --motion: 1;
  --duration: 0.4;
  --marquee-duration: 40s;
  --marquee-direction: -1;
  --marquee-timing-function: linear;
  --marquee-iteration-count: infinite;
}

@media (min-width: 64rem) {
  :root {
    --padding-y: 12rem;
  }
}

[data-theme="light"] {
  --background: #fff;
  --foreground: #191818;
  color: var(--foreground);
  background: var(--background);
}

[data-theme="dark"] {
  --background: #191818;
  --foreground: #fff;
  color: var(--foreground);
  background: var(--background);
}

/* Base Styles */
html {
  overscroll-behavior: none;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: var(--font-zagma);
  background: var(--background);
  color: var(--foreground);
}

img, video, picture, svg {
  -webkit-user-select: none;
  user-select: none;
}

a, button {
  cursor: pointer;
}

/* Custom Utilities */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility w-calc {
  --padding: 8rem;
  width: calc(100vw - var(--padding));
  margin-inline: auto;
  @media (min-width: 48rem) {
    width: min(123.4rem, 85.6944vw);
  }
}

@utility px-calc {
  padding-inline: calc(var(--spacing) * 40);
  scroll-padding-inline: calc(var(--spacing) * 40);
  @media (min-width: 48rem) {
    padding-inline: calc(50vw - min(123.4rem, 85.6944vw) / 2);
    scroll-padding-inline: calc(50vw - min(123.4rem, 85.6944vw) / 2);
  }
}

@utility rounded-calc {
  border-radius: var(--rounded-unit);
}

@utility type-s-10 {
  font-family: var(--font-neue);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

@utility type-s-11 {
  font-family: var(--font-neue);
  font-size: 1.1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.022rem;
}

@utility type-s-12 {
  font-family: var(--font-neue);
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.024rem;
}

@utility type-s-14 {
  font-family: var(--font-neue);
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 500;
  letter-spacing: 0.028rem;
}

@utility type-s-15 {
  font-family: var(--font-neue);
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 500;
  letter-spacing: 0.015rem;
}

@utility type-z-18 {
  font-family: var(--font-zagma);
  font-size: 1.8rem;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.054rem;
}

@utility type-z-20 {
  font-family: var(--font-zagma);
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.06rem;
}

@utility type-z-24 {
  font-family: var(--font-zagma);
  font-size: 2.4rem;
  line-height: 125%;
  font-weight: 400;
  letter-spacing: -0.072rem;
}

@utility type-z-28 {
  font-family: var(--font-zagma);
  font-size: 2.8rem;
  line-height: 90%;
  font-weight: 400;
  letter-spacing: -0.084rem;
}

@utility type-z-34 {
  font-family: var(--font-zagma);
  font-size: 3.4rem;
  line-height: 90%;
  font-weight: 400;
  letter-spacing: -0.102rem;
}

@utility type-z-40 {
  font-family: var(--font-zagma);
  font-size: 4rem;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.12rem;
}

@utility type-z-60 {
  font-family: var(--font-zagma);
  font-size: 6rem;
  line-height: 90%;
  font-weight: 400;
  letter-spacing: -0.18rem;
}

@utility type-z-72 {
  font-family: var(--font-zagma);
  font-size: 7.2rem;
  line-height: 85%;
  font-weight: 400;
  letter-spacing: -0.504rem;
}

@utility type-z-80 {
  font-family: var(--font-zagma);
  font-size: 8rem;
  line-height: 90%;
  font-weight: 400;
  letter-spacing: -0.32rem;
}

@utility h-slvh {
  height: 100svh;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility underlined {
  @media (hover: hover) {
    &:hover {
      text-underline-offset: 0.2rem;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
    }
  }
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate3d(calc(var(--marquee-direction) * 100%), 0, 0);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) var(--marquee-timing-function) var(--marquee-iteration-count);
}

/* Blossom Carousel */
[blossom-carousel] {
  white-space: nowrap;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  box-sizing: border-box;
  scrollbar-width: none;
  inline-size: 100%;
  max-inline-size: 100vw;
  list-style-type: none;
  display: inline-block;
  overflow: auto clip;
}

[blossom-carousel]::-webkit-scrollbar {
  display: none;
}

[blossom-carousel] > * {
  white-space: initial;
  vertical-align: top;
  display: inline-block;
}

/* Prose base */
p, ul, ol {
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: -0.032rem;
}
